.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  align-self: center;
  border: 1px black;
}
.fix-left-margin {
  margin-left: 10px;
}
.fix-margin-bottom {
  margin-bottom: 100px;
}
.border {
    position: fixed;
    top: 0;
    left: 0;
    border: solid gray;
    border-width: 0 3px 1px 3px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}